
body{
    background-image: url(./styles/image/row-cell-phones-with-one-that-says-time-is-10-00_1042426-56293.avif);
    background-size: 100vw;
}

.card { margin-bottom: 20px; }
.card-body { display: flex; flex-direction: column; align-items: center; }


.quantity-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

