
body{
    background-image: url(././styles/image/phones\ background.webp);
}

.card { margin-bottom: 20px; }
.card-body { display: flex; flex-direction: column; align-items: center; }


.quantity-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 150px;
}